<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card bg-dark">
        
        <img src="../../assets/Dhileep.jpg" class="avatar mx-auto d-block my-3"  height="160px" width="130" alt="...">
        <div class="card-body text-white ">
          <div class="d-flex "> <i class="material-icons">account_circle</i>
            <h5 class="card-title mx-2 ">CHINNI DHILEEP – 2062875 - CDE21IJ026 </h5></div><hr>
         
          <p class="card-text">Genc program is designed in such a way that each stage helps in leveling up the programming skills as well as behavioral skills. 
             I really felt comfortable during the training which helped me to get more knowledge on different technologies. 
            Training is categorized into different stages in order to build self-learning along with practical sessions. 
            Team provided me to access some platforms like Udemy, Tekstac and Hackerrank which played a key role in learning progress.
             Hackerrank code challenges increased my logical thinking which are mostly given from real-time problems.
              At the end of each stage there be an ICT exam which shows the performance and standards of my programming skills and after every exam there will be an assessment reports which makes me analyze my mistakes. 
            <br>
              Throughout the training journey, I felt it was the great opportunity given by Cognizant to learn the new things of different technologies which helped me become master over programming.
               I'm thankful to the whole team of Cognizant Genc program for giving me such a great support also at difficult times. And the trust you kept on me I’ll make it worthful.
                I promise that I'll work hard to take up great challenges and help Cognizant continue to be the fastest growing top-tier global IT services company. Once again, I thank to Cognizant for giving me such a great opportunity.    </p>
        </div>
        <div class="card-footer bg-secondary border-success">
          <span class="px-2 my-1">{{num1}}</span>
          <button class="btn btn-primary material-icons {{color1}} {{value1}}" (click)="increase1()">thumb_up</button>

          <span class=" px-2 my-1 float-right">{{num2}}</span>
          <button class="btn btn-primary material-icons {{color2}} {{value2}}" (click)="decrease1()">thumb_down</button>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card bg-dark">
        <img src="../../assets/mohit.jpg" class="avatar mx-auto d-block my-3"  height="160px" width="130" alt="...">
        <div class="card-body bg-dark text-white">
          <div class="d-flex "> <i class="material-icons">account_circle</i>
            <h5 class="card-title mx-2 ">MOHIT SINGH - 2063641 - CDE21IJ026 </h5></div>
         <hr>
          <p class="card-text ">Cheers to a great adventure, bigger dreams, attaining big goals and new connections. Looking forward to an exciting journey with wonderful people at Cognizant filled with lots of learning! 
            First job is always special and I am delighted to share the experience of my whole journey. I started my journey with Cognizant as a Programmer Analyst Trainee in September,  2021. 
            I learnt a lot of things from the PAT training period than I learnt from my college. Of course, I had lots of exploration during the training period.
           
            <br>The whole training period was exuberant, I learnt things, implemented them and I was also tested what I had learnt through various assessments. The assessments played a vital role in the whole learning path.
                 I was assigned to a batch of a 24 members cohort. We were also assigned to a coach, trainer and mentor. Our coach took all the responsibilities for scheduling all the sessions and assessments.
                  He had been a great addition to the team. Our trainer was an experienced person. He always helped us in our whole training path by giving us a proper training.
                   We were also assigned to a mentor who was superior to all of us whom I can say he was a great mentor and we were the luckiest persons to had him as a part of our learning path. Overall, it was a great learning experience and I'm also confident that it will definitely help me in my upcoming ventures.
            
        </div>
        <div class="card-footer bg-secondary border-success"> <span class="px-2 my-1">{{num3}}</span>
          <button class="btn btn-primary material-icons {{color3}} {{value3}}" (click)="increase2()">thumb_up</button>

          <span class=" px-2 my-1">{{num4}}</span>
          <button class="btn btn-primary material-icons {{color4}} {{value4}}" (click)="decrease2()">thumb_down</button></div>
        
      </div>
    </div>
    <div class="col">
      <div class="card bg-dark">
        <img src="../../assets/dileep.jpeg" class="avatar mx-auto d-block my-3"  height="160px" width="130" alt="...">
        <div class="card-body text-white ">
       <div class="d-flex "> <i class="material-icons">account_circle</i>
          <h5 class="card-title mx-2 ">DILEEP GAJULA  - 2062984 - CDE21IJ026 </h5></div>
       <hr>
          <p class="card-text ">Hello everyone, hope you are doing well and safe... 

            I joined in cognizant in September 2021 as a Programmer Analyst Trainee. I am glad to be a part of the Cognizant family. 
            
            Coming to the training, I was assigned to the Full Stack Engineer role. The training was overall good and we had some fun also where I learnt java, sql, spring etc. And some more topics which are useful to get the desired domain. 
            
            And there were some Behavioral sessions that used to happen twice a week where I learnt the importance of corporate culture and it is an excellent opportunity to improve our communication skills.  
            
           <br> Along with this, twice a week, the Mentor Connect session is also there where the mentor was very friendly with us, and he guided us at every stage of our training. 
            
            In the training, there were also mandatory assessments which we had to clear. Throughout the training journey, I felt it was the great opportunity given by Cognizant to learn the new things of different technologies which helped me become master over programming. 
            
            Overall, these four months were an enjoyable experience for me. 
            
             
            
            Thank You COGNIZANT 😊 </p>
          </div>
        <div class="card-footer bg-secondary border-success"> <span class="px-2 my-1">{{num5}}</span>
          <button class="btn btn-primary material-icons {{color5}} {{value5}}" (click)="increase3()">thumb_up</button>

          <span class=" px-2 my-1">{{num6}}</span>
          <button class="btn btn-primary material-icons {{color6}} {{value6}}" (click)="decrease3()">thumb_down</button></div>

      </div>
    </div>
    <div class="col">
      <div class="card bg-dark">
        <img src="../../assets/charishma.jpeg" class="avatar mx-auto d-block my-3"  height="160px" width="130" alt="...">
        <div class="card-body text-white ">
          <div class="d-flex"> <i class="material-icons">account_circle</i>
            <h5 class="card-title mx-2 "> CHARISHMA SHAIK-2063163-CDE21IJ026 </h5></div>
           <hr>
          <p class="card-text">Hello Everyone, 

            I joined in Cognizant on September 2021 as a Programmer Analyst Trainee. Cognizant is actively involved in outreach activities. I'm feeling very proud to be a part of this Cognizant family.  
            
            I was assigned to the Full Stack Engineer role in training, in terms of learning, there were ample of courses available at Tekstac platform and I felt it is the best platform for freshers to learn new technologies. In the training I learnt java and some more important concepts which are helpful to reach our career goals. 
            
            
            
           <br> On the other side, behavioral sessions also conducted twice a week and I personally felt it’s the wonderful opportunity for freshers to improve public speaking skills. Apart from this, Cognizant take cares of employee’s mental well-being also. 
            
            Also, Cognizant gave Udemy access which is a fairly well online learning platform where I learnt the different programming skills from the experts in an easy way. 
            
            Finally, I didn’t come to know how these four months passed in just a blink of an eye. So, enjoy training at the fullest, these days should create cherished memories to carry throughout our life. 
            
            Thank You #Cognizant</p>
        </div>
        <div class="card-footer bg-secondary border-success"> <span class="px-2 my-1">{{num7}}</span>
          <button class="btn btn-primary material-icons {{color7}} {{value7}}" (click)="increase4()">thumb_up</button>

          <span class=" px-2 my-1">{{num8}}</span>
          <button class="btn btn-primary material-icons {{color8}} {{value8}}" (click)="decrease4()">thumb_down</button></div>

      </div>
    </div>
    <div class="col">
      <div class="card bg-dark">
        <img src="../../assets/vishali.jpeg" class="avatar mx-auto d-block my-3"  height="160px" width="130" alt="...">
        <div class="card-body text-white ">
          <div class="d-flex"> <i class="material-icons">account_circle</i>
            <h5 class="card-title mx-2 "> PUTNURI VISHALI – 2062945 – CDE21IJ026  </h5></div>
           <hr>
          <p class="card-text">I joined Cognizant in September 2021 as Programmer Analyst Trainee. The learning experience that I underwent as part of my GenC training is one among the best that I have ever come across.
             During the training period Genc’s are well trained with the help of hands-on and assessments with the help of Tekstac platform which helps us to learn in a thorough manner.
              It has stages where one can learn the subject from beginning to the advance level. It also provides various things to learn during certain amount of time. The training experience was worth program that helps us to test our knowledge.
               There were several programs which were included in the training process. It also helps us to improve our behavioral and communication skills. <br> 
               The best part of the training is that, there will be a trainer who always tries to help us whenever we are in a trouble to understand things. Hackerrank tests our knowledge to give the best out of us. We will be provided by many challenges and number of hands-on.
                The ICT provided as part of each stage helped us integrate our learning to show case our abilities and evaluate our performance. We were also working on case studies that spanned across the learning stages, hence helping us apply our learning into practical development.
                  The behavioral sessions which will help us lot develop to ourselves as professionals. Finally, that was a good learning experience and am happy that I have learned a lot through this amazing training.</p>
        </div>
        <div class="card-footer bg-secondary border-success"> <span class="px-2 my-1">{{num9}}</span>
          <button class="btn btn-primary material-icons {{color9}} {{value9}}" (click)="increase5()">thumb_up</button>

          <span class=" px-2 my-1">{{num10}}</span>
          <button class="btn btn-primary material-icons {{color10}} {{value10}}" (click)="decrease5()">thumb_down</button></div>

      </div></div>
  </div>